*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;

  color: var(--clr-white);
  // overflow: hidden;
}

.flex {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--clr-bg);
}

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
