.list {
  width: 400px;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  padding: 3rem 0 0;

  &__title {
    color: var(--clr-black);
    font-size: 1.7rem;
    font-weight: 900;
    text-transform: uppercase;
    padding-bottom: 1rem;
  }

  ul {
    list-style: none;
    width: 100%;
  }

  &__item {
    width: 100%;
    height: 50px;
    background-color: var(--clr-black);
    box-shadow: 0px 5px 0 var(--clr-black-dark);
    border: 4px solid var(--clr-black-dark);
    border-radius: .7rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    font-weight: 700;
  }

  &__btn {
    width: 1.7rem;
    height: 1.7rem;
    background-color: var(--clr-red);
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transition: all .2s;

    i {
      font-size: .8rem;
      color: var(--clr-white);
    }

    &:hover {
      background-color: var(--clr-red-hover);
    }
  }
}
