.main {
  max-width: 400px;
  height: 400px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  &__btn {
    width: 2.5rem;
    height: 2.5rem;
    background-color: var(--clr-green);
    border: 3px solid var(--clr-black-dark);
    border-radius: 50%;
    color: var(--clr-black-dark);
    cursor: pointer;
    position: absolute;
    top: 270px;
    transition: all 0.3s;
   
    i {
      font-size: 1.2rem;
      transition: all 0.3s;
    }

    &:hover {
      background-color: var(--clr-green-hover);
    }
  }

  &__table {
    background-color: var(--clr-brown);
    width: 400px;
    height: 15px;
    position: relative;
    display: flex;
    justify-content: center;

    &::after {
      content: "";
      display: block;
      width: 95%;
      height: 10px;
      background-color: var(--clr-brown-dark);
      position: absolute;
      top: 100%;
    }
  }

  &__foot-left,
  &__foot-right {
    background-color: var(--clr-brown-dark);
    height: 160px;
    width: 20px;
    position: absolute;
    top: 100%;
  }

  &__foot-left {
    left: 5%;
  }

  &__foot-right {
    right: 5%;
  }

  &__pc {
    width: 85px;
    height: 150px;
    background-color: var(--clr-black);
    border: 8px solid var(--clr-black-dark);
    border-radius: 5px 5px 0 0;
    position: absolute;
    top: 42px;
    left: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    &::before,
    &::after {
      content: "";
      display: block;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background-color: var(--clr-black);
      border: 6px solid var(--clr-blue);
    }

    &::before {
      margin-bottom: 0.5rem;
    }
  }

  &__window {
    width: 200px;
    height: 120px;
    background-color: var(--clr-black);
    border: 8px solid var(--clr-black-dark);
    position: absolute;
    top: 54px;
    left: 39%;
    display: flex;
    justify-content: center;

    &::before {
      content: "";
      display: block;
      width: 30px;
      height: 20px;
      background-color: var(--clr-black-dark);
      position: absolute;
      bottom: -25%;
    }
  }

  &__keyboard {
    width: 100px;
    height: 5px;
    background-color: var(--clr-red);
    position: absolute;
    top: 187px;
    left: 180px;
  }

  &__mouse {
    width: 20px;
    height: 10px;
    background-color: var(--clr-red);
    border-radius: 12px 12px 3px 3px;
    position: absolute;
    top: 182px;
    left: 320px;
  }
}

