.container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1140px;
  margin: 0 auto;
  height: 100vh;
}

.pc {
  background-color: var(--clr-black);
  width: 60vw;
  height: 80vh;
}
